azul-01 = #012c59
azul-02 = #0257b4
azul-03 = #32ccfe

gris-01 = #666

.centered-stuff
	margin 0 auto
.icon-title-container
	margin-top 40px
	.inner-icon-page
		font-size 10em
		margin-top 40px
	h2
		margin-top -10px
.azul-01
	color azul-01
.azul-02
	color azul-02
.azul-03
	color azul-03
.gris-01
	color gris-01

.m-top-40
	margin-top 40px
.m-bottom-40
	margin-bottom 40px
.mayus
	text-transform uppercase
.edit-link
.storefront-hero__button-edit
	display none
body
	background #eeeeee
	font-family 'Oswald', sans-serif
.site-header
	background azul-01
	position fixed
	width 100%
.woocommerce-active
	.site-header
		padding-top 25px
		padding-bottom 25px
		.site-branding
			width 50px

.menu-toggle
	background none
	border none
button.menu-toggle::before
button.menu-toggle::after
	background white

button.menu-toggle:hover
	border none
	outline none
.widget_product_search
.site-header-cart
	display none

.main-navigation
	ul
		li
			a
				color white
				text-align center
				&:hover
				&:focus
					outline none

.site-content
	padding-top 25px

.home-banners-container
	height 400px
	width 100%
	display block
	background-position center center
	background-size cover
	background-repeat no-repeat
	padding-top 80px
	text-align center
	.item
		height 400px
		display flex !important
		flex-flow column
		color white
		background-repeat no-repeat
		background-size cover
		background-position center center
		justify-content center
		align-items center
		padding 0 30px
		h2
			text-align center
			color white
			background rgba(black, .5)
			display inline-block
			padding 5px 20px
		p
			text-shadow 2px 2px 5px rgba(0,0,0,0.84)
	.slick-dots
		margin-top -40px
		position relative
		z-index 10
		li
			background white
			width 14px
			height 14px
		
.main-banner
	height 300px
	width 100%
	display block
	background-position center center
	background-size cover
	background-repeat no-repeat
	padding-top 80px
	text-align center
	h1
		text-align center
		color white
		background rgba(black, .5)
		display inline-block
		padding 5px 20px
.single-proyecto
	.main-banner
		height 400px
	.cliente
		color gris-01
		font-size 1.4em
		text-transform uppercase
	.entry-content
		strong
			color azul-02
			text-transform uppercase
			font-size 1.2em
	#secondary
		display none
.page-template-template-homepage
	.entry-header
		h1
			color azul-02
			font-size 2.5em
			text-align center
h2
	color azul-02
	font-weight bold
	text-align center
	margin 30px 0
	font-size 1.8em
.entry-content
	margin-top 40px
	margin-bottom 80px
	ul
		li
			margin-bottom 20px
			font-size 1.1em
.about-us-block
	margin-bottom 10px
	margin-top 30px
	padding-bottom 30px
	text-align center
	.inner
		background azul-02
		color white
		background-position center center
		background-repeat no-repeat
		background-size cover
		display inline-block
		padding 0 10px 30px 10px
		.title-about-us
			color white
			text-decoration underline
		&.mision
			background-image url(./assets/images/mision-rocket.jpg)
		&.vision
			background-image url(./assets/images/vision-rocket.jpg)

.values-carousel
.home-services-carousel
	.item
		text-align center
		.icon
			span
				font-size 7em
				color azul-02
		.title
			color azul-02
		p
			padding 0 10px
		a.view-more-btn
			margin-bottom 30px
.slick-arrow
	background none
	color black
	position absolute
	top 40%
	transition color .5s ease
	font-size 1.2em
	&.slick-prev
		left -50px
	&.slick-next
		right -50px
	&:hover
		color gray
		transition color .5s ease
	&:focus
		outline none
.slick-dots
	text-align center
	margin 0
	padding 0
	li
		display inline-block
		width 10px
		height 10px
		overflow hidden
		margin 0 5px
		border-radius 50%
		background none
		border 1px solid azul-02
		transition background .5s ease
		button
			background transparent
			border none
			color transparent
		&.slick-active
			background azul-02
			transition background .5s ease
.view-more-btn
	background azul-03
	color white
	text-decoration underline
	text-transform uppercase
	padding 5px 20px

.all-width
	background azul-03
	width 140%
	margin-left -20%
	display flex
	justify-content center
	align-items center
	height 200px
	margin-top 40px
	margin-bottom 40px
	.inner-text
		padding 0 60px
		text-align center
		color white
	&.home
		background-image url(./assets/images/banner-inner-home-rocket.jpg)
		background-size cover
		background-repeat no-repeat
		background-position center center

.site-footer
	background azul-01
	color white
	a
		color white

.storefront-handheld-footer-bar
	position absolue
	bottom 0
	width 100%
	display none
.logo-iso-container
	text-align center
	span
		font-size 12em
		color azul-02
.marcas-carousel
	text-align center
	img
		display inline-block
		width 75%
.item-person
	h2
		font-size 1.3em
	p.charge
		color #666666
		margin-top -20px
	p.email
		margin-top -15px
.form-container
	background white
	border-radius 10px
	padding 0
	overflow hidden
	margin-top 80px
	.left
		background azul-02
		height 160px
		display flex
		justify-content center
		align-items center
		img
			width 70px
			height display
			block
	.right
		padding 20px
		.form-control
			border-bottom 1px solid azul-02
			background none
			border-radius 0
			box-shadow none
		.send-btn
			background azul-02
			color white
			border-radius 25px
.site-footer
	h2
		color azul-02
		text-align center
		margin 20px 0 10px 0
.footer-menu
.social
	text-align center
	padding 0
	margin 0
	li
		display block
		margin 5px 0
		&:last-of-type
			margin-bottom 50px
		span
			font-size 1.2em
			margin-right 5px
.site-footer
	a:not(.button)
		color white
		transition color .5s ease
		text-decoration none
		&:hover
			color azul-03
			transition color .5s ease
	p.blue
		color rgba(white, .7)
		a
			color azul-02
			
.proyecto-item
	margin-bottom 30px
.foto-proyecto
	height 280px
	display block
	position relative
	background-size cover
	background-position center center
	background-repeat no-repeat
	&:hover
		h3
			height 100%
			justify-content center
			align-items center
			transition height .5s ease
			text-align center
			display flex
	h3
		padding 10px 15px
		display block
		text-transform uppercase
		background rgba(azul-02, .9)
		color white
		height auto
		position absolute
		bottom 0
		font-size 1.1em
		margin 0
		transition height .5s ease
.post-type-archive-product
	#secondary
		display none
.right-sidebar .widget-area
	display none !important

.single-product
	.storefront-breadcrumb
		display none
	.site-content
		padding-top 135px
	.main-banner
		display none
	.woocommerce-product-gallery
		.flex-control-thumbs
			margin 5px 0 0
			display flex
			justify-content center
			align-items space-between
			li
				display inline-block
				width 30%
	.woocommerce-product-gallery__image
		text-align center
		img
			display inline-block
	h1.product_title.entry-title
		margin-top 20px
	.wc-tabs-wrapper
		margin-top 20px
	.wc-tabs
		margin 0
		padding 0
		li
			display block
			background none
			padding 10px
			&.active
				background azul-02
				a
					color white
					display block
					&:focus
						outline none
	.related.products
		.products
			padding 0
			margin 0
			li
				display block
				margin-bottom 30px
				a
					position relative
					width 100%
					display block
					height auto
					h2.woocommerce-loop-product__title
						background azul-02
						color white
						position absolute
						height 60px
						align-items center
						width 100%
						padding 10px
						z-index 10
						bottom 0
						margin 0
						font-size 1em
						text-transform uppercase
						display flex
						text-align center
					img
						width 100%
						height auto
						display block
				a.button.product_type_simple
					display none
.post-type-archive-product
.tax-product_cat
	.main-banner
		display none
	.site-content
		padding-top 75px
		ul.products
			padding 0
			margin 0
			display flex
			flex-flow column
			li
				display inline-block
				margin-bottom 20px
				position relative
				img
					display block
					width 100%
					height auto
				a.button.product_type_simple
					display none
				h2.woocommerce-loop-product__title
					display flex
					justify-content center
					align-items center
					height 60px
					width 100%
					position absolute
					bottom 0
					background azul-02
					color white
					margin 0
					padding 10px
					font-size 1em
					text-transform uppercase
nav.storefront-product-pagination
	display none
@media screen and (min-width: 768px)
	.post-type-archive-product
		#secondary
			display none
	.right-sidebar .widget-area
		display none !important
	.main-navigation ul.nav-menu ul li.focus
		background azul-02
		color white
		a
			color white
	.main-navigation
		ul.menu
			ul
				li
					background azul-02
					text-transform uppercase
				li.focus
					background azul-02
					color white
					a
						color white
	.storefront-breadcrumb
		display none
	.widget_product_search
		form
			padding 0
			margin 0
			.search-field
				border-radius 25px
				background rgba(white, .7)
				&:focus
					outline none
	.woocommerce-active
		.site-header
			padding-top 15px
			padding-bottom 25px
			border none
			.site-search
				margin-bottom 0
	.site-header
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 34%, rgba(0,0,0,0.13) 87%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 34%,rgba(0,0,0,0.13) 87%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 34%,rgba(0,0,0,0.13) 87%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	.site-content
		padding 0
	.home-banners-container
		padding-top 0
	#primary
		width 100%
	#masthead
		display flex
		flex-flow row
		justify-content space-around
		align-items center
		.col-full:first-of-type
			margin 0
		.storefront-primary-navigation
			margin-left 0
	.main-navigation ul.menu
	.main-navigation ul.nav-menu
		margin-left 0
	.woocommerce-active
		.site-header
			.main-navigation
				width 100%
	ul.menu
		li.current-menu-item>a
			color white
			text-decoration underline
	.main-navigation ul.menu>li>a
	.main-navigation ul.nav-menu>li>a
		padding 0em 0.5em
	.site-header
		.site-branding
			margin-bottom 0
	.site-search
		display block
	.widget_product_search
		display block
	.single-proyecto
		.main-banner
			height 500px
	.about-us-block
		margin-bottom 10px
		margin-top 30px
		padding-bottom 30px
		text-align center
		.inner
			padding 0 20px 30px 20px
			height 320px
	.all-width
		width 180%
		margin-left -40%
		height 300px
		.inner-text
			width 60%
			padding 0 60px
			font-size 1.6em
	.logo-iso-container
		display flex
		justify-content center
		align-items center
		img
			width 90%
			height auto
			display inline-block
		span
			font-size 16em
	.info-iso-container
		display flex
		justify-content center
		align-items center
	.marcas-carousel
		.slick-arrow
			top 10%
	.social
		text-align left
		padding-top 20px
	.footer-menu
		&:last-of-type
			margin-bottom 0px
	.site-footer
		padding-bottom 10px
		background-image url(./assets/images/logo-footer.png)
		background-position center 55px
		background-repeat no-repeat
		background-size 120px
	.post-type-archive-product
	.tax-product_cat
		.site-content
			padding-top 125px
			ul.products
				display flex
				flex-flow wrap
				justify-content space-between
				li
					display inline-block
					margin-bottom 20px
					width 48%
	.related.products
		.products
			padding 0
			margin 0
			display flex
			justify-content space-around
			li
				display block
				margin-bottom 30px
				width 30%
				a
					h2.woocommerce-loop-product__title
						height 60px
						font-size 1em
@media screen and (min-width: 992px)
	.about-us-block
		margin-top 30px
		padding-bottom 30px
		.inner
			padding 60px 50px
			height 420px
	.all-width
		.inner-text
			width 27%
			padding 0
	.logo-iso-container
		img
			width 80%
	.marcas-carousel
		.slick-arrow
			top -10%
	.type-product
		display flex
		flex-flow wrap
		.woocommerce-product-gallery
			width 40%
			display inline-block
		.entry-summary
			width 55%
			display inline-block
			padding-left 30px
			h1
				font-size 2em
	.post-type-archive-product
	.tax-product_cat
		.site-content
			padding-top 125px
			ul.products
				justify-content normal
				li
					margin-bottom 30px
					width 30%
					margin-right 3%
					&:hover
						h2
							height 100%
							background rgba(azul-02, .75)
	.wc-tabs-wrapper
		display flex
		justify-content space-between
		width 100%
		.wc-tabs
			width 40%
		.woocommerce-Tabs-panel--description
		.woocommerce-Tabs-panel--reviews
			width 55%
			margin-top -30px
@media screen and (min-width: 1200px)
	#masthead
		.col-full:first-of-type
			.site-branding
				width 80px
		.storefront-primary-navigation
			margin-left -160px
	.home-banners-container
		h2
			font-size 2.2em
		p
			font-size 1.8em
			padding 0 15%
	.about-us-block
		margin-top 30px
		padding-bottom 30px
		.inner
			padding 120px 90px
			height 560px
	.slick-arrow
		font-size 2em
		&.slick-prev
			left -120px
		&.slick-next
			right -120px
	.single-proyecto
		.main-banner
			height 700px
	.all-width
		width 200%
		margin-left -50%
	.marcas-carousel
		.slick-arrow
			top -20%
	.form-container
		.left
			width 45%
			height 420px
			float left
			img
				width 120px
		.right
			width 55%
			float right
			.send-btn
				background azul-02
				color white
	.site-footer
		background-size 140px
		background-position center 45px